.additionally {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .additionally {
    padding-bottom: 63px;
    width: 628px;
  }
}

@media (min-width: @desktop-width) {
  .additionally {
    padding-bottom: 73px;
    width: 1220px;
  }
}


.additionally__ledeng {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  padding: 0;
  padding-bottom: 21px;
  position: relative;
}

@media (min-width: @tablet-width) {
  .additionally__ledeng {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 21px;
  }
}

.additionally__ledeng::after {
  content: url("../../img/additionally_after.svg");
  position: absolute;
  left: 163px;
  top: -7px;
}

@media (min-width: @tablet-width) {
  .additionally__ledeng::after {
    content: url("../../img/additionally_after_tablet.svg");
    position: absolute;
    left: 250px;
    top: -13px;
  }

  .additionally__ledeng::before {
    content: url("../../img/additionally_before_tablet.svg");
    position: absolute;
    left: -72px;
    top: -13px;
  }
}

.additionally__item {
  padding: 0;
  padding-bottom: 11px;
}


.additionally__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .additionally__list {
    display: grid;
    grid-template-columns: 344px 1fr;
    grid-template-rows: 72px 72px;
    padding-top: 25px;
    padding-bottom: 32px;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .additionally__list {
    display: grid;
    grid-template-columns: 325px 325px 325px 245px;
    grid-template-rows: 72px;
    padding-top: 25px;
    padding-left: 0;
    margin-bottom: 9px;
  }
}

.additionally__label {
  font-size: 16px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .additionally__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
    padding-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__label {
    padding-top: 10px;
  }
}

.additionally__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.additionally__input + label::before {
  content: url("../../img/checkbox.svg");
  padding-right: 15px;
}

@media (min-width: @tablet-width) {
  .additionally__input + label::before {
    content: url("../../img/checkbox_tablet.svg");
    padding-right: 17px;
    padding-top: 2px;
  }
}

.additionally__input:checked + label::before {
  content: url("../../img/checkbox_checked.svg");
  padding-right: 15px;
}

@media (min-width: @tablet-width) {
  .additionally__input:checked + label::before {
    content: url("../../img/checkbox_checked_tablet.svg");
    padding-right: 17px;
    padding-top: 2px;
  }
}
