.additionally {
  width: auto;
  position: relative;
}

.additionally::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: @basic-green;
  position: absolute;
  top: 14px;
  z-index: -1;
  right: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .additionally::after {
    top: 21px;
  }
}

.additionally__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .additionally__wrapper {
    padding-bottom: 63px;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__wrapper {
    padding-bottom: 73px;
    width: 1300px;
  }
}


.additionally__ledeng {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  padding: 0;
  padding-bottom: 21px;
  padding-left: 20px;
  position: relative;
  width: 165px;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .additionally__ledeng {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 21px;
    padding-left: 40px;
    padding-right: 22px;
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__ledeng {
    padding-bottom: 18px;
  }
}

.additionally__item {
  padding: 0;
  padding-bottom: 11px;
}


.additionally__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .additionally__list {
    display: grid;
    grid-template-columns: 344px 1fr;
    grid-template-rows: 72px 72px;
    padding-top: 25px;
    padding-bottom: 32px;
    padding-left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__list {
    display: grid;
    grid-template-columns: 325px 325px 325px 245px;
    grid-template-rows: 72px;
    padding-top: 25px;
    padding-left: 0;
    margin-bottom: 9px;
    margin-left: 42px;
  }
}

.additionally__label {
  font-size: 16px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .additionally__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
    padding-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__label {
    padding-top: 10px;
  }
}

.additionally__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.additionally__input + label::before {
  content: url("../../img/checkbox.svg");
  padding-right: 15px;
}

@media (min-width: @tablet-width) {
  .additionally__input + label::before {
    content: url("../../img/checkbox_tablet.svg");
    padding-right: 17px;
    padding-top: 2px;
  }
}

.additionally__input:checked + label::before {
  content: url("../../img/checkbox_checked.svg");
  padding-right: 15px;
}

@media (min-width: @tablet-width) {
  .additionally__input:checked + label::before {
    content: url("../../img/checkbox_checked_tablet.svg");
    padding-right: 17px;
    padding-top: 2px;
  }
}
