.bonus {
  height: 363px;
  margin: 0 20px;
  background-color: @basic-green;
}

.bonus__image {
  background-color: @basic-green;
  margin: 0 auto;
}

.bonus__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  color: @white;
}
