.comment {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .comment {
    margin-top: 35px;
    margin-bottom: 41px;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .comment {
    width: 1220px;
  }
}

.comment__legeng {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  padding: 0;
  padding-bottom: 36px;
  position: relative;
}

@media (min-width: @tablet-width) {
  .comment__legeng {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding-bottom: 77px;
  }
}

.comment__legeng::after {
  content: url("../../img/comment_after.svg");
  position: absolute;
  left: 143px;
  top: -9px;
}

@media (min-width: @tablet-width) {
  .comment__legeng::after {
    content: url("../../img/comment_legend_after_tablet.svg");
    position: absolute;
    left: 217px;
    top: -9px;
  }

  .comment__legeng::before {
    content: url("../../img/comment_legend_before_tablet.svg");
    position: absolute;
    left: -72px;
    top: -9px;
  }
}

.comment__text {
  height: 150px;
  padding: 8px 13px;
  margin: 0;
  border: 1px solid @light-grey-4;
  box-sizing: border-box;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  color: @dark-grey;
  margin-bottom: 25px;
}

.comment__text:focus {
  border: 2px solid @dark-grey;
  padding: 7px 12px;
}

@media (min-width: @tablet-width) {
  .comment__text {
    height: 174px;
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    width: 631px;
  }
}

@media (min-width: @desktop-width) {
  .comment__text {
    width: 1220px;
    margin-bottom: 27px;
  }
}
