.data {
  border-bottom: 1px solid @light-grey;
  padding-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .data {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .data {
    width: 569px;
    padding-bottom: 0;
  }
}

.data__list {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  margin: 0 auto;
  padding-bottom: 10px;
  box-sizing: border-box;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .data__list {
    padding-bottom: 43px;
    width: 632px;
  }
}

@media (min-width: @desktop-width) {
  .data__list {
    padding-bottom: 43px;
    width: 569px;
    margin: 0;
  }
}

.data__item {
  padding-top: 14px;
  display: flex;
}

@media (min-width: @tablet-width) {
  .data__item {
    padding-top: 20px;
  }
}

.data__label {
  padding-right: 15px;
  padding-top: 15px;
  color: @dark-grey;
  display: inline-block;
  width: max-content;
  white-space: nowrap;
}

@media (min-width: @tablet-width) {
  .data__label {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-right: 17px;
  }
}

.data__text {
  height: 46px;
  padding-left: 14px;
  margin: 0;
  border: 1px solid @light-grey-4;
  box-sizing: border-box;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  flex-grow: 1;
  min-width: 172px;
}

@media (min-width: @tablet-width) {
  .data__text {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    padding-left: 20px;
    flex-grow: 1;
  }
}
