.example {
  height: 705px;
  background-color: @basic-grey-2;
  padding: 20px;
  box-sizing: border-box;
}

.example__title {
  margin: 0;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-transform: none;
  padding-top: 7px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  padding-top: 33px;
  margin: 0;
}

.example__item {
  width: 124px;
  height: 56px;
  border: 1px solid @dark-grey-2;
  border-radius: 3px;
  position: relative;
}

.example__number {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding-top: 15px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  bottom: -15px;
  text-transform: none;
  max-width: 80px;
  text-align: center;
  margin: 0 22px;
  background-color: @basic-grey-2;
  color: @dark-grey;
}

.example__signature {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.example__image {
  display: none; //потом уберу
}
