@media (min-width: @desktop-width) {
  .group-desktop {
    width: 100%;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .group-desktop__wrapper {
    width: 1300px;
    margin: 0 auto 86px auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 975px 245px;
  }
}
