.introduction {
  height: 440px;
  background-image: url("../../img/index-can-mobile 1.SVG"), url("../../img/index-introduction-bg.jpg");
  background-position: bottom center, top center;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}

.introduction__slogan {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  text-transform: none;
  text-align: center;
}

.introduction__signature {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @white;
  text-align: center;
}

.introduction__selection {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: @white;
  height: 40px;
  background-color: @basic-green;
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;
  box-sizing: border-box;
}
