.page__body {
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "OswaldRegular", "Arial", sans-serif;
  background-color: @white;
  color: @black;
  margin: 0 auto;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page__body {
    font-size: 20px;
    line-height: 20px;
  }
}

// @media (min-width: @desktop-width) {
//   .page__body {
//   }
// }
