.page-footer {
  background-color: @basic-grey;
}

.page-footer__cat-energy {
  text-align: center;
  padding-top: 39px;
  border-bottom: 1px solid @light-grey;
  height: 95px;
  box-sizing: border-box;
}
