// colors

@black: black;
@white: white;
@dark-basic: #111111;
@dark-grey: rgba(68, 68, 68, 1);
@dark-grey-opacity: rgba(68, 68, 68, 0.3);
@dark-grey-2: rgba(34, 34, 34, 1);
@light-grey: rgba(217, 217, 217, 1);
@basic-green: rgba(104, 183, 56, 1);
@basic-grey: rgba(242, 242, 242, 1);
@light-grey-2: rgba(230, 230, 230, 1);
@basic-grey-2: rgba(234, 234, 234, 1);
@dark-grey-3: rgba(205,205,205,1);
@black-2:rgba(17, 17, 17, 1);
@light-grey-3: rgba(235, 235, 235, 1);
@light-grey-4: rgba(231, 231, 231, 1);
@basic-green-opacity: rgba(104, 183, 56, 0.85);
@basic-green-1: rgba(94, 170, 47, 1);
@basic-white-opacity: rgba(255, 255, 255, 0.3);
@basic-red: rgba(255, 130, 130, 1);
@basic-black-opacity: rgba(0, 0, 0, 0.3);

@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-width-only: 767px;
