// colors

@black: black;
@white: white;
@dark-basic: #111111;
@dark-grey: rgba(68, 68, 68, 1);
@dark-grey-2: rgba(34, 34, 34, 1);
@light-grey: rgba(217, 217, 217, 1);
@basic-green: rgba(104, 183, 56, 1);
@basic-grey: rgba(242, 242, 242, 1);
